.martijnvdb-wordpress-plugin-tools-metabox-section {}

.martijnvdb-wordpress-plugin-tools-metabox-section template {
    display: none;
}

.martijnvdb-wordpress-plugin-tools-metabox-section>ol {
    margin: 0px;
    list-style: none;
}

.martijnvdb-wordpress-plugin-tools-metabox-section>ol>li {
    position: relative;
    padding: 0em 1em 0.8em 1em;
    margin-bottom: 0em;
    border: 1px solid #d5d5d8;
    border-bottom: 0px;
    background: #ffffff;
}

.martijnvdb-wordpress-plugin-tools-metabox-section>ol>li:last-child {
    border-bottom: 1px solid #d5d5d8;
    margin-bottom: 1em;
}

.martijnvdb-wordpress-plugin-tools-metabox-section>ol>li>section>p:last-child {
    margin-bottom: 0px;
}

.martijnvdb-wordpress-plugin-tools-metabox-section-order-higher,
.martijnvdb-wordpress-plugin-tools-metabox-section-order-lower,
.martijnvdb-wordpress-plugin-tools-metabox-section-deletion {
    width: 1.62rem;
    height: 1.62rem;
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    cursor: pointer;
}

.martijnvdb-wordpress-plugin-tools-metabox-section-actions {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    align-items: center;
}

.martijnvdb-wordpress-plugin-tools-metabox-section-actions button {
    color: #787c82;
}

.martijnvdb-wordpress-plugin-tools-metabox-section-actions button:focus {
    box-shadow: 0 0 0 1px #4f94d4, 0 0 2px 1px rgb(79 148 212 / 80%);
    outline: 1px solid transparent;
}

.martijnvdb-wordpress-plugin-tools-metabox-section-order-higher-indicator::before {
    font: normal 20px/1 dashicons;
    content: "\f343";
    color: inherit;
}

.martijnvdb-wordpress-plugin-tools-metabox-section-order-lower-indicator::before {
    font: normal 20px/1 dashicons;
    content: "\f347";
    color: inherit;
}

.martijnvdb-wordpress-plugin-tools-metabox-section-deletion::before {
    font: normal 20px/1 dashicons;
    content: "\f182";
    content: "\f335";
    color: inherit;
}